
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Oswald&family=Poppins:wght@300;400;500;600;700&family=Roboto&family=Ubuntu&display=swap');


*{
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
}

.nav-items{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 15px;
   font-family: 'Oswald', sans-serif;

}

.left-items {
    width: 33%;
}

.right-side{
    width: 20%;
}

.right-side ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

nav .company-logo{
    width: 154px;
}

.left-items ul{
    list-style: none;
}

.left-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.left-items ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.items-left{
    width: 50%;
}

.nav-trans{
    transition-property: color;
    
    
    cursor: pointer;
}

.nav-trans :hover{
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    color: green;
}

.entry {
    position: relative; /* Ensure the pseudo-element is positioned in relation to this container */
    background-color: #fafaf7;
    height: 750px;
}

.entry::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2019/06/leaves-free-img.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 28% auto;
    opacity: 0.2; /* Adjust the opacity as needed, where 1 is fully opaque and 0 is fully transparent */
    pointer-events: none; /* This makes sure the pseudo-element doesn't interfere with mouse events */
}

.entry-content{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding-top: 100px;
   padding-right: 7%;
   padding-left: 10%;
   
}

.entry-content-content{
    padding: 40px;
}

.entry-content-content *{
 padding: 5px;
 font-family: 'Oswald', sans-serif;
}

.entry-content-content-button button {
    background-color: #6a9739; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    
  }

.entry-testi{
    height: 170px;
    width: 100%;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.entry-testi-content{

    background-color: #303030;
    height: 110px;
    width: 260px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    color: #fafaf7;
}

.entry-testi i{
    color: #6a9739;
}



